html {
    box-sizing: border-box;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    background-color: #D0D0D0;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem auto;
    background-color: cornflowerblue;
    border-radius: 10px;
    border: solid 3px white;
}